<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger:%line] [%X{traceId}] -- %msg %ex%n%n
                <!--%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [${PID:-}] [%15.15t] [%-40.40logger{39}:%line] : %m%n%n-->
            </pattern>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>INFO</level>-->
<!--        </filter>-->
    </appender>

<!--    <logger name="org.springframework" level="ERROR"/>-->

    <root level="INFO,DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>